

body{background:#daecf2 url(../assets/images/bg1.jpg) center top  no-repeat;font-family: arial;}
.All{width:100%;height:auto;}
.footer{width:100%;background:#fff;height:200px;clear: both;overflow:hidden;}
.content{width:695px;min-height:600px;background:url(../assets/images/bgContent.png) center top repeat-y;margin:0 auto;margin-top:143px;position:relative;}
.content .wrapper{width:551px;margin:0 auto;}

.logo{overflow:hidden;position: relative;top:-120px;margin-bottom: -90px}
.logo img{margin:0 auto;display:block;}

.footer img{display:block;margin:30px auto 10px auto;}
.footer .list{width:170px;margin:0 auto;padding-left: 30px;}
.footer .list li{float:left;background:url(../assets/images/barra.png) no-repeat right 0;padding-right:5px;margin-left:5px;font-size: 11px;}
.footer .list li a{color:#78a3b7;}
.footer .list .last{color:#78a3b7;background:none;}

.rt{float:right;}
.lf{float:left;}
.clr{clear:both;}
.link{color:#719eb3;text-decoration: none}
.bdr1{width:552px;height:2px;background:url(../assets/images/bar1.png) no-repeat;}
.bdr2{width:551px;height:2px;background:url(../assets/images/bar2.png) no-repeat;}
.title{margin:10px 0 10px 0 ;text-align: center;}
.link_ipt a{color:#719eb3;text-decoration: none;}
.Bcrumb{color:#879198;font-size:14px;margin: 5px;}
.Bcrumb a{color:#719eb3;text-decoration: underline;}
.btEnviar{width:100px;height:30px !important;background:url(../assets/images/btEnviar.jpg) no-repeat !important;cursor:pointer;border:none;}
.infoBar{background:#00aeef;width:531px;color:#fff;font-weight: bold;display:block;padding:10px;margin:20px 0;text-align: center;}
.info1{color:#000;font-size: 11px;}
.errorInpt{border:1px solid red !important;border-top:2px solid red !important;color:red !important;background:url(../assets/images/bgInputEr.png) repeat-x !important;}
.error{color:red;display:block;margin-right:-51px;margin-top:2px;text-align: center;}
.error b{font-weight: bold;}
.linksPreFooter{overflow:hidden;bottom:30px;position:absolute;}
.linksPreFooter .link{margin-bottom:40px;display:block;text-decoration: underline;}
.linksPreFooter .bdr2{margin-bottom:20px;display:block;}
.linksPreFooter .info1{margin-bottom:10px;display:block;}

.form{font-size: 14px}
.form input{background:url(../assets/images/bgInput.png) repeat-x;color:#231f20;font-size:12px;font-family: arial;height:26px;border:1px solid #84b8d0;margin-left:10px;padding-left: 3px;}
.form select{background:url(../assets/images/bgInput.png) repeat-x;color:#231f20;font-size:13px;font-family: arial;height:26px;border:1px solid #84b8d0;}
.form label{float:left;width:210px;color:#231f20;font-size:14px;font-family: arial;font-weight: bold;position:relative;top:9px;display:inline-block;vertical-align: top;text-align: right;}
.form textarea{color:#231f20;font-size:12px;font-family: arial;border:1px solid #84b8d0;margin-left:10px;padding-left: 3px;}
.form .lbl{display:block;margin-bottom:15px;}
.form .input {width:140px;margin-left: 15px;position:relative;left:5px;}
.form .input span {float: left;height: 30px;width: 20px;text-indent: -9999px;margin-right: 5px;background: url(../assets/images/radio.png) top no-repeat;cursor:pointer;position:relative;top:-8px;}
.form .input span:hover {background: url(../assets/images/radio.png) bottom;}
.form .input p{color: #000;display: inline;float: left;font-size: 14px;line-height: normal;margin: -2px 0;}


.form .styled-select {width: 200px;height:26px;background: url(../assets/images/bgSelect.png) no-repeat;overflow: hidden;display:inline-block;margin-left:10px;}
.form .styled-select select {background:transparent !important;cursor: pointer;padding:5px 5px;border:none;-webkit-appearance: none;}
.form .clr{display:block;}
.form .bdr1{margin-bottom: 20px}
.form .link{position:relative;top:10px;text-decoration: underline}
.form .link,.form .btEnviar{margin:20px 0;}
.form .info1{padding:5px 0 20px 0;display:block;}

.form .inpt01{width:41px;}
.form .inpt02{width:96px;}
.form .inpt03{width:133px;}
.form .inpt04{width:200px;}
.form .inpt04Slc{width:235px;}
.form .inpt05{width:259px;}
.form .inpt05tArea{width:259px;height:155px !important;}
.form textarea.errorInpt{background:#FFF3F3 !important;}
.form .rt2{float:none;margin-left: 30px;}


/* Ccadastro*/
.cadastro .content{min-height: 1232px;}


/* Etapas*/
.etapa1 p {text-align: center;margin:10px 0;font-weight: bold}

.etapa3 p{margin-top:30px;color:#000;font-size:18px;line-height: 19px;text-align:center; }
.etapa3 p a{color:#719eb3;}
.etapa3 .B1{color:#000;font-weight: bold;}
.etapa3 .infoBar{font-size:14px;color:#fff;}

/* fale conosco*/
.faleConosco .infoBar{background:none;padding:0;color:#000;font-size: 18px}
.faleConosco .infoBar b{font-weight: bold;}
.faleConosco .linksPreFooter{bottom:0;position:relative;}